body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}
.menu {
    text-align: center;
}
.cards_food {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
}
img {
    max-width: 140px;
    max-height: 210px;
    padding-top: 20px;
}

.cards_food div {
    width: 170px;
    height: 240px;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.cards_food p {
    font-size: 14pt;
    font-weight: 600;
    font-family: monospace;
}

.text_1 {
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: 600;
}

/* .text_2 {
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: 600;
} */

